/SaralCashFlowAPI/.vs/ProjectEvaluation/*.bin
/SaralCashFlowAPI/.vs/SaralCashFlowAPI/DesignTimeBuild/*.v2
/SaralCashFlowAPI/.vs/SaralCashFlowAPI/FileContentIndex/*.vsidx
/SaralCashFlowAPI/.vs/SaralCashFlowAPI/config/*.config
/SaralCashFlowAPI/.vs/SaralCashFlowAPI/v17/*.v2
/SaralCashFlowAPI/.vs/SaralCashFlowAPI/v17/*.suo
/SaralCashFlowAPI/.vs/SaralCashFlowAPI/v17/*.json
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/*.json
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/*.exe
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/*.pdb
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/runtimes/browser/lib/net6.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/runtimes/win-arm/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/runtimes/win-arm64/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/runtimes/win-x64/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/runtimes/win-x86/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/*.json
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/*.exe
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/*.pdb
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/runtimes/browser/lib/net6.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/runtimes/unix/lib/netcoreapp3.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/runtimes/unix/lib/netcoreapp3.1/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/runtimes/win-arm/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/runtimes/win-arm64/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/runtimes/win-x64/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/runtimes/win-x86/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/runtimes/win/lib/netcoreapp3.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/runtimes/win/lib/netcoreapp3.1/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net6.0/runtimes/win/lib/netstandard2.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/*.zip
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/*.json
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/*.exe
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/*.pdb
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/runtimes/browser/lib/net6.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/runtimes/unix/lib/netcoreapp3.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/runtimes/unix/lib/netcoreapp3.1/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/runtimes/win-arm/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/runtimes/win-arm64/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/runtimes/win-x64/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/runtimes/win-x86/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/runtimes/win/lib/netcoreapp3.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/runtimes/win/lib/netcoreapp3.1/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/runtimes/win/lib/netstandard2.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/bin/Release/net8.0/publish/*.config
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Debug/net6.0/*.cs
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Debug/net6.0/*.Up2Date
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Debug/net6.0/*.cache
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Debug/net6.0/*.editorconfig
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Debug/net6.0/*.BuildWithSkipAnalyzers
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Debug/net6.0/*.txt
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Debug/net6.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Debug/net6.0/*.pdb
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Debug/net6.0/*.exe
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Debug/net6.0/ref/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Debug/net6.0/refint/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Debug/net6.0/*.json
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Debug/net6.0/staticwebassets/*.props
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/*.cs
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/*.json
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/*.exe
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/*.pdb
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/runtimes/browser/lib/net6.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/runtimes/unix/lib/netcoreapp3.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/runtimes/unix/lib/netcoreapp3.1/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/runtimes/win-arm/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/runtimes/win-arm64/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/runtimes/win-x64/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/runtimes/win-x86/native/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/runtimes/win/lib/netcoreapp3.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/runtimes/win/lib/netcoreapp3.1/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/runtimes/win/lib/netstandard2.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/PubTmp/Out/*.config
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/*.txt
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/*.Up2Date
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/*.cache
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/*.editorconfig
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/*.json
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/*.pdb
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/*.exe
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/ref/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/refint/*.dll
/SaralCashFlowAPI/SaralCashFlowAPI/obj/Release/net6.0/staticwebassets/*.props
/SaralCashFlowAPI/SaralCashFlowAPI/obj/*.json
/SaralCashFlowAPI/SaralCashFlowAPI/obj/*.props
/SaralCashFlowAPI/SaralCashFlowAPI/obj/*.targets
/SaralCashFlowAPI/SaralCashFlowAPI/obj/*.cache
